[Unit]
Description=GitHub Webhook Deploy Service
Documentation=https://github.com/JDinABox/github-webhook-deploy
After=network.target

[Service]
Type=simple
User=github-webhook-deploy
Group=github-webhook-deploy
WorkingDirectory=/etc/github-webhook-deploy
ExecStart=/usr/local/bin/github-webhook-deploy /etc/github-webhook-deploy/config.yaml
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=github-webhook-deploy

# Security settings program may access home to deploy
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=false

[Install]
WantedBy=multi-user.target