[Unit]
Description=Webhook Deploy Service
Documentation=https://github.com/JDinABox/webhook-deploy
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/webhook-deploy
ExecStart=/usr/bin/webhook-deploy /etc/webhook-deploy/config.yaml
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webhook-deploy

# Security settings program may access home to deploy
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=false

[Install]
WantedBy=multi-user.target